<div class="h-20 w-full bg-[#161616] fixed top-0 z-50">
    <div class=" md:max-w-7xl flex flex-row justify-between h-full mx-auto">
        <div class="w-[15.5%] md:flex hidden h-[66%] my-auto flex-row justify-between">
            <button class="w-[69%] h-full text-[.875rem] font-bold text-white bg-special cursor-pointer hover:-translate-y-0.5 transition duration-300 rounded-4xl px-4 py-2 ">ابدأ القراءة</button>
            <div class="w-[24%] h-[90%] mt-1 rounded-[.625rem] flex justify-center border border-transparent cursor-pointer  transition-all duration-300 hover:border-gray-800 items-center group">
                <i class="fa-solid fa-magnifying-glass text-gray-500 font-light text-[1.0625rem]  group-hover:text-[#ED5D0E] transition duration-300" ></i>
            </div>
        </div>

            <div class="p-1.5 border hidden md:flex h-[68%] my-auto border-zinc-700/60 rounded-full  justify-center items-center">
                <nav class="flex flex-row items-center">
                    <a href="#" class="text-[0.875rem] font-medium text-gray-400  hover:text-white px-5.5 py-2.5 rounded-full transition-colors">من نحن</a>
                    <a href="#" class="text-[0.875rem] font-medium text-gray-400 hover:text-white px-5 py-2.5 rounded-full transition-colors">المدونة</a>
                    <a href="#" class="text-[0.875rem] font-medium text-white bg-uniq bg-zinc-800 px-5 py-2.5 rounded-full transition-colors">الرئيسية</a>
                </nav>
            </div>

        <div class="md:w-[16%] sm:w-[50%] w-[30%] h-[68%] my-auto flex flex-row justify-between ms-auto md:ms-0 me-3 md:me-0">
            <div class="w-[60%] sm:w-[73%] md:w-[45%] h-full sm:me-3 ">
                <div class="flex flex-col items-end sm:translate-x-10">
                    <h2 class="text-[1.25rem] mt-3 font-bold text-gray-300  sm:mt-1.25 md:t-1.25 mb-0">عدسة</h2>
                    <p class="text-[.75rem] text-[#B26209] hidden sm:block md:block font-medium md:translate-x-1 whitespace-nowrap  -translate-y-0.5">عالم التصوير الفوتوغرافي</p>
                </div>
            </div>
            <div class="md:w-[27%] w-[32%] sm:w-[15%] h-full me-1.25 flex justify-center items-center cursor-pointer group">
                <img src="/images/myImages1.png" 
                    class="w-[89%] h-[88%] transition duration-300 ease-in-out group-hover:scale-105" 
                    alt="logo">
            </div>
        </div>
    </div>
</div>



