<footer class="relative overflow-hidden pt-16 bg-[#0A0A0A] border-t border-[#2e2d2d]">

    <div class="pointer-events-none absolute left-120 top-1/4 h-80 w-80 rounded-full bg-orange-600/15 blur-[120px]"></div>

    <div class="pointer-events-none absolute right-130 top-25 h-80 w-80 rounded-full bg-[#201c0c] blur-[120px]"></div>

    <div class="relative z-10 w-full px-8">
        <div class="md:w-[66%] sm:w-full mx-auto">
            <div dir="rtl" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-12">
              <div>
                 <div class="flex flex-row mb-5">
                    <div class="py-2 w-11.25 cursor-pointer transition duration-300 hover:scale-105 flex justify-center items-center rounded-2xl bg-[#FE5D00]">
                        <span class="text-[20px] font-black text-white">ع</span>
                    </div>
                    <h2 class="text-[1.25rem] text-white font-bold mt-2 ms-3">عدسة</h2>
                 </div>
                 <p class="text-sm text-neutral-500 mb-6 leading-relaxed">مدونة متخصصة في فن التصوير الفوتوغرافي، نشارك معكم أسرار المحترفين ونصائح عملية لتطوير مهاراتكم.</p>
                 <div class="flex gap-2">
                    <a href="" class="px-2 group hover:scale-110 hover:bg-[#FA5400] transition duration-300 ease-in-out bg-[#161616] py-2.5 flex justify-center items-center rounded-[10px] border border-[#2e2d2d]">
                        <i class="fa-brands fa-x-twitter text-[18px] text-[#737373] group-hover:text-white transition duration-300 ease-in-out"></i>
                    </a>
                    <a href="" class="px-2 group hover:scale-110 hover:bg-[#FA5400] transition duration-300 ease-in-out bg-[#161616] py-2.5 flex justify-center items-center rounded-[10px] border border-[#2e2d2d]">
                        <i class="fa-brands fa-github text-[18px] text-[#737373] group-hover:text-white transition duration-300 ease-in-out"></i>
                    </a>
                    <a href="" class="px-2 group hover:scale-110 hover:bg-[#FA5400] transition duration-300 ease-in-out bg-[#161616] py-2.5 flex justify-center items-center rounded-[10px] border border-[#2e2d2d]">
                        <i class="fa-brands fa-linkedin text-[18px] text-[#737373] group-hover:text-white transition duration-300 ease-in-out"></i>
                    </a>
                    <a href="" class="px-2 group hover:scale-110 hover:bg-[#FA5400] transition duration-300 ease-in-out bg-[#161616] py-2.5 flex justify-center items-center rounded-[10px] border border-[#2e2d2d]">
                        <i class="fa-brands fa-youtube text-[18px] text-[#737373] group-hover:text-white transition duration-300 ease-in-out"></i>
                    </a>
                 </div>
              </div>
              <div>
                 <div class="flex flex-row mb-6">
                    <span class="w-8 h-0.5 bg-linear-to-r from-orange-500 mt-3 to-yellow-500 rounded-full"></span>
                    <h2 class="text-[1rem] text-white font-bold ms-3">استكشف</h2>
                 </div>
                 <ul class="space-y-4">
                   <li class="group flex">
                      <i class="fa-solid fa-chevron-left w-4 h-4 mt-1 opacity-0 -mr-4 group-hover:opacity-100 group-hover:mr-0 transition-all duration-300 text-orange-500 text-[10px]"></i>
                        <a href="" class="text-sm text-neutral-500 group-hover:text-orange-500 transition-colors duration-300 flex items-center gap-2 ms-2">
                            الرئيسية 
                        </a>
                   </li>
                   <li class="group flex">
                    <i class="fa-solid fa-chevron-left w-4 h-4 mt-1 opacity-0 -mr-4 group-hover:opacity-100 group-hover:mr-0 transition-all duration-300 text-orange-500 text-[10px]"></i>
                     <a href="" class="text-sm text-neutral-500 group-hover:text-orange-500 transition-colors duration-300 flex items-center gap-2 ms-2">
                         المدونة 
                     </a>
                   </li>
                   <li class="group flex">
                    <i class="fa-solid fa-chevron-left w-4 h-4 mt-1 opacity-0 -mr-4 group-hover:opacity-100 group-hover:mr-0 transition-all duration-300 text-orange-500 text-[10px]"></i>
                     <a href="" class="text-sm text-neutral-500 group-hover:text-orange-500 transition-colors duration-300 flex items-center gap-2 ms-2">
                         من نحن 
                     </a>
                   </li>
                 </ul>
              </div>
              <div>
                 <div class="flex flex-row mb-6">
                    <span class="w-8 h-0.5 bg-linear-to-r from-orange-500 mt-3 to-yellow-500 rounded-full"></span>
                    <h2 class="text-[1rem] text-white font-bold ms-3">التصنيفات</h2>
                 </div>
                 <ul class="space-y-4">
                   <li class="group flex">
                      <i class="fa-solid fa-chevron-left w-4 h-4 mt-1 opacity-0 -mr-4 group-hover:opacity-100 group-hover:mr-0 transition-all duration-300 text-orange-500 text-[10px]"></i>
                        <a href="" class="text-sm text-neutral-500 group-hover:text-orange-500 transition-colors duration-300 flex items-center gap-2 ms-2">
                            إضاءة 
                        </a>
                   </li>
                   <li class="group flex">
                    <i class="fa-solid fa-chevron-left w-4 h-4 mt-1 opacity-0 -mr-4 group-hover:opacity-100 group-hover:mr-0 transition-all duration-300 text-orange-500 text-[10px]"></i>
                     <a href="" class="text-sm text-neutral-500 group-hover:text-orange-500 transition-colors duration-300 flex items-center gap-2 ms-2">
                         بورتريه 
                     </a>
                   </li>
                   <li class="group flex">
                    <i class="fa-solid fa-chevron-left w-4 h-4 mt-1 opacity-0 -mr-4 group-hover:opacity-100 group-hover:mr-0 transition-all duration-300 text-orange-500 text-[10px]"></i>
                     <a href="" class="text-sm text-neutral-500 group-hover:text-orange-500 transition-colors duration-300 flex items-center gap-2 ms-2">
                        مناظر طبيعية
                     </a>
                   </li>
                   <li class="group flex">
                    <i class="fa-solid fa-chevron-left w-4 h-4 mt-1 opacity-0 -mr-4 group-hover:opacity-100 group-hover:mr-0 transition-all duration-300 text-orange-500 text-[10px]"></i>
                     <a href="" class="text-sm text-neutral-500 group-hover:text-orange-500 transition-colors duration-300 flex items-center gap-2 ms-2">
                        تقنيات
                     </a>
                   </li>
                 </ul>
              </div>
              <div>
                 <div class="flex flex-row mb-6">
                    <span class="w-8 h-0.5 bg-linear-to-r from-orange-500 mt-3 to-yellow-500 rounded-full"></span>
                    <h2 class="text-[1rem] text-white font-bold ms-3">ابقى على اطلاع</h2>
                 </div>
                 <p class="text-sm text-neutral-500 mb-6 leading-relaxed">اشترك للحصول على أحدث المقالات والتحديثات.</p>
                <input type="text" class="px-4 text-[14px] caret-white focus:outline-none bg-[#161616] focus:border-[#FF6100] transition ease-in-out duration-200 py-2.5 rounded-[13px] border text-right placeholder:text-[#797070] border-[#2e2c2c] w-full" placeholder="أدخل بريدك الإلكتروني">
            <button class="w-full  mt-3 text-[.875rem] font-bold text-white bg-special cursor-pointer hover:-translate-y-0.5 transition duration-300 rounded-4xl px-4 py-4 "> اشترك</button>
            </div>
            </div>
        </div>
    </div>

    <div dir="rtl" class="relative z-10 border-t w-full border-[#2e2d2d] mt-16">
        <div class="flex justify-between max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-6">
            <div>
                <p class="text-sm text-neutral-600">
                    © 2026 عدسة صنع بكل 
                    <i class="fa-solid fa-heart text-orange-500"></i>
                     جميع الحقوق محفوظة.
                </p>
            </div>
            <div class="flex gap-6">
                <a href="" class="text-sm text-neutral-600 hover:text-orange-500 transition-colors duration-300">سياسة الخصوصية</a>
                <a href="" class="text-sm text-neutral-600 hover:text-orange-500 transition-colors duration-300">الشروط والأحكام</a>
            </div>
        </div>
    </div>
</footer>